<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All users</title>
    <style>
        button{
            background-color: rgb(241, 72, 72);
            color: white;
        }
        *{
            background-color: rgb(247, 246, 247);
        }
        table{
            border: 1px solid black;
            background-color: white
        }
        td{
            border: 1px solid black;
            background-color: rgb(197, 247, 200);
        }
        th{
            border: 1px solid black;
            background-color: rgb(186, 153, 217);
        }
    </style>
</head>
<body>
    <a style="color: red;" href="http://localhost:8080/">Home Page</a>
    <table>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Email</th>
    </tr>

    <% for(user of users) { %>
        <tr>
            <td> <%= user.Id %> </td>
            <td> <%= user.Username %> </td>
            <td> <%= user.Email %> </td>
            <td>
                <form method="GET" action="/user/<%=user.Id%>/edit">
                    <button>Edit Username</button>
                </form>
            </td>
            <td>
                <form method="GET" action="/user/<%=user.Id%>/delete">
                    <button>Delete User</button>
                </form>
            </td>
        </tr>
    <% } %>
    </table>
</body>
</html>